# Data Science Tools and Ecosystem

## Author

Sanjiv Kumar

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science

- Python 
- R 
- Julia 
- Scala

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. ggplot
3. caret 
4. pandas
5. numpy 
6. SciKit learn

|Data Science Tools|
| --- |
|Jupyter Notebook|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335